@import"header";

.cards {
  box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 1.0rem;
  padding: 0.8rem;

  div {
    @include display(flex, space-between, center);
  }
}