@import "mixin";

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  scroll-behavior: smooth;
}

/* utility */
html.sr #home {
  visibility: hidden;
}

nav {
  @include display(flex, space-between, center);
  position: fixed;
  background-color: $bgcolor;
  top: 0;
  width: 90%;
  padding-inline: 5%;

  a {
    text-decoration: none;
    text-shadow: 9px 8px 9px black;

    img {
      font-size: 2.5vw;
      transform: skewX(9deg);
      text-decoration: none;
    }
  }

  ul {
    @include display(flex, end, center);

    list-style: none;
    gap: 10%;
    font-size: 1.7vw;
  }
}
