#home {
  pointer-events: none;

  > div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 30px;
    gap: 1.5rem;
    padding-inline: 15%;
  }

  i,
  button {
    pointer-events: visible;
  }
}
